ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

p {
    color:antiquewhite;
}

h1 {
    color:antiquewhite;
}


li {
    float: left;
}

li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover { 
    background-color: #111
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; }

.dropdown {
float: left;
overflow: hidden;
}

p {
    font-size: 25px;
}

